/* Global view aka Desktop view */
body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgb(185, 179, 179);
}

.container {
  min-height: 500px;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
}

.header-container {
  background-color: rgb(51, 51, 51);
  min-height: 100px;
  position: fixed;
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
header {
  max-width: 1024px;
  /* background-color: rgb(2, 54, 54); */
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  width: 30%;
  margin-bottom: 40px;
  background-color: rgb(2, 54, 54);
}
.col p {
  color: white;
  font-size: 0.875rem;
  padding: 20px 25px;
  line-height: 1.5rem;
}
.hide-desktop-only {
  display: none;
}

.col img {
  width: 100%;
  height: auto;
}

.col p::first-line {
  font-weight: 400;
}

.mybtn {
  padding: 10px 25px;
  border-style: solid;
  border-width: 1px;
  margin-left: 20px;
}
.mob-wrapper {
  display: none;
}

/* Tablet view */
@media (max-width: 768px) {
  .col {
    width: 45%;
  }
  .hide-desktop-only {
    display: block;
  }
  /* header {
    display: block;
    text-align: center;
  } */

  .header-container {
    position: relative;
  }

  .container {
    padding-top: 40px;
  }

  nav {
    display: none;
  }

  nav a {
    display: block;
  }

  .logo {
    padding: 40px 0;
  }

  .mybtn {
    margin-left: 0;
  }

  .mob-wrapper {
    display: block;
    padding-right: 30px;
  }
  .mob-nav {
    display: block;
    position: absolute;
  }
  .mob-button {
    display: block;
    background-color: tomato;
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
  }
}

/* mobile view */

@media (max-width: 400px) {
  .col {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }

  header {
    display: block;
    text-align: center;
  }

  nav a {
    display: block;
  }

  .logo {
    padding: 40px 0;
  }

  .mybtn {
    margin-left: 0;
  }

  .header-container {
    position: relative;
  }
  .mob-button {
    display: block;
    background-color: tomato;
    padding: 15px 30px;
    margin-right: -390px;
    text-align: center;
  }
}
